@using Dominio
@model IEnumerable<Dominio.Categoria>

@{
    ViewBag.Title = "Listar Categorias";
}

<div style="float:left">
    <b>Categoria:</b>
</div>

<div style="float:left" class="col-lg-1.8">
    <select class="form-control" id="categoria">
        <option value="0">--Todos--</option>
        @{
            List<Categoria> listaCategoria = (List<Categoria>)ViewBag.listaCategoria;
            foreach (var categoria in listaCategoria)
            {
                <option value="@categoria.IdCategoria">@categoria.Nombre</option>
            }
        }
    </select>

</div>
<div class="form-group">
    <div class="col-md-10">
        @Html.DropDownList("lista", null, htmlAttributes: new {@class = "control-label col-md-2"})
    </div>
</div>
