@model Dominio.Usuario
@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new {@class = "login100-form validate-form"}))
{
    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
        <span class="label-input100">Username</span>
        @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "input100", placeholder = "Enter Username"}})
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
        <span class="label-input100">Password</span>
        @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "input100", placeholder = "Enter password", type = "password"}})
        <span class="focus-input100"></span>
    </div>

    <div class="flex-sb-m w-full p-b-30">
        <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
                Remember me
            </label>
        </div>

        <div>
            <a href="#" class="txt1">
                Forgot Password?
            </a>
        </div>
    </div>

    <div class="container-login100-form-btn">
        <input type="submit" value="Login" class="login100-form-btn"/>
    </div>
}